# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup

# IDE
.idea/
*.iml
.vscode/
.DS_Store
bin/
# Logs
*.log
*.gz
data/

.vscode-test-web

# Node
node_modules/
dist/

# Environment
.env
*.env.local